@import "../../../sass/index.scss";

.register-form {
    input {
        padding: 13px 15px !important;
        background-color: #F9F9F9 !important;
    }
}

.register-form-title {
    font-size: 15px !important;
    text-align: center;
    margin-bottom: 20px;
}